body {
  background-color: #e9ccba;
  color: #503829;
  font-family: "Playfair Display", serif;
  line-height: 2;
}

#grundlæggende {
  text-align: center;
  font-size: 70px;
  font-weight: 100;
  display: inline-block;
}

#indhold {
  font-size: 70px;
  font-weight: 100;
  display: block;
  margin-top: 20px;
}

.row {
  min-height: 100vh;
  display: grid;
  place-items: center;
  width: 90%;
  grid-template-columns: repeat(2, 1fr);
  object-fit: cover;
  background-color: #f2e0d8;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 2;
}

.tema4-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin-top: 40px;
}

.txt {
  text-align: center;
  padding: 30px;
}

.row2 {
  min-height: 100vh;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
  object-fit: cover;
  background-color: #f2e0d8;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

img {
  max-width: 80%;
  height: auto;
  justify-self: end;
  align-self: center;
}

.se-virksomhed-knap {
  display: block;
  margin: 0 auto;
  padding: 10px 25px;
  border-radius: 50px;
  background-color: #e9ccba;
  color: #503829;
  text-decoration: none;
  position: absolute;
  font-size: 12px;
  text-align: center;
}

.footer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  background-color: #f2e0d8;
}

.button {
  background-color: #e9ccba;
  color: #503829;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  font-family: "Playfair Display", serif;
}

.se-video-knap {
  display: block;
  margin: 0 auto;
  padding: 10px 25px;
  border-radius: 50px;
  background-color: #e9ccba;
  color: #503829;
  text-decoration: none;
  position: absolute;
  font-size: 12px;
  text-align: center;
  bottom: 35px;
}

.stor-billede {
  max-width: 90%;
  height: auto;
}
